In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import os

In [2]:
unitsTab=pd.read_csv('codes/units.csv')
unitsTab.index = unitsTab['Unit Code']
unitsDict=unitsTab.to_dict()["Units"]

In [3]:
paramsTab=pd.read_csv('codes/parameters.csv')
paramsTab.index = paramsTab['Parameter Code']
paramsDict = paramsTab.to_dict()['Parameter']

In [19]:
df=pd.read_csv('raw_data/long_term.csv',parse_dates=[3])
df.dropna(subset=['datetime'],inplace=True)
df.drop(['uncertainty', 'qualifiers', 'frequency'],axis=1, inplace=True)
df.tail()

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,site,data_status,action_code,datetime,parameter,duration,value,unit,qc,poc,lat,lon,GISDatum,elev,method_code,mpc,mpc_value
474931,840420430401,0.0,10.0,2011-06-25 06:00:00,88101.0,60.0,8.6,105.0,0.0,3.0,40.246992,-76.846988,WGS84,125.0,170.0,1.0,5.0
474932,840420430401,0.0,10.0,2009-10-01 06:00:00,88101.0,60.0,3.4,105.0,0.0,3.0,40.246992,-76.846988,WGS84,125.0,170.0,1.0,5.0
474933,840420430401,0.0,10.0,2016-04-27 06:00:00,88101.0,60.0,2.6,105.0,0.0,3.0,40.246992,-76.846988,WGS84,125.0,170.0,1.0,5.0
474934,840420430401,0.0,10.0,2009-01-16 06:00:00,88101.0,60.0,10.1,105.0,0.0,3.0,40.246992,-76.846988,WGS84,125.0,170.0,1.0,5.0
474935,840420430401,1.0,10.0,2015-10-28 06:00:00,88101.0,60.0,4.9,105.0,0.0,3.0,40.246992,-76.846988,WGS84,125.0,170.0,1.0,5.0

In [21]:
df.replace({'unit':unitsDict, 'parameter':paramsDict}, inplace=True)

In [24]:
df.parameter.unique()

array(['PM10 Total 0-10um STP', 'Ozone', 'Carbon monoxide',
       'Nitrogen dioxide (NO2)', 'Sulfur dioxide',
       'PM2.5 - Local Conditions'], dtype=object)

In [27]:
[df.datetime.min(),df.datetime.max()]

[Timestamp('2000-01-01 05:00:00'), Timestamp('2017-01-01 04:00:00')]

In [28]:
df.describe()

,data_status,action_code,duration,value,qc,poc,lat,lon,elev,method_code,mpc,mpc_value
count,474936.000000,474936.0,474936.0,474936.000000,474936.0,474936.000000,4.749360e+05,4.749360e+05,474936.0,474936.000000,474936.0,474936.000000
mean,0.431784,10.0,60.0,9.239459,0.0,2.044937,4.024699e+01,-7.684699e+01,125.0,99.556633,1.0,-9.157663
std,0.495325,0.0,0.0,11.372314,0.0,1.631349,2.131630e-14,7.105435e-14,0.0,25.553775,0.0,20.981478
min,0.000000,10.0,60.0,-10.000000,0.0,1.000000,4.024699e+01,-7.684699e+01,125.0,79.000000,1.0,-50.000000
25%,0.000000,10.0,60.0,0.070000,0.0,1.000000,4.024699e+01,-7.684699e+01,125.0,87.000000,1.0,0.005000
50%,0.000000,10.0,60.0,5.000000,0.0,1.000000,4.024699e+01,-7.684699e+01,125.0,93.000000,1.0,0.400000
75%,1.000000,10.0,60.0,14.000000,0.0,3.000000,4.024699e+01,-7.684699e+01,125.0,100.000000,1.0,2.700000
max,1.000000,10.0,60.0,321.000000,0.0,5.000000,4.024699e+01,-7.684699e+01,125.0,170.000000,1.0,5.000000

In [29]:
allData[allData.parameter==Temp].value.plot()

NameError: name 'allData' is not defined